<mat-form-field appearance="outline" style="width: 300px; margin-bottom: 24px;">
  <mat-label>Login Search Element</mat-label>
  <input matInput placeholder="Type to search..." />
</mat-form-field>
<mat-card style="margin: 24px; padding: 16px;">
  <mat-card-title>Dashboard</mat-card-title>
  <mat-card-content>
    <p>Welcome to the dashboard app</p>
    <button mat-raised-button color="primary">Material Button</button>
  </mat-card-content>
</mat-card>
<ul class="remote-menu">
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="login">Login</a></li>
</ul>
<router-outlet></router-outlet>
